.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin: 92px 48px 24px;
}

@media screen and (max-width:1024px) {
    .footer__container {
        margin: 92px 48px 0;
    }
}

@media screen and (max-width:768px) {
    .footer__container {
        margin: 88px 24px 0;
    }
}

@media screen and (max-width:696px) {
    .footer__container {
        flex-direction: column;
        align-items: flex-start;
        margin: 64px 0 0 16px;
    }
}